# Sea Level Magnitude

In [ ]:
a = 2+2